version: '3'

services:

  php-fpm:
    restart: always
    build:
      context: ./php-fpm
    networks:
      - web-static
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - /home/projects:/app
      - /home/pi/downloads:/downloads

#  nginx:
#    restart: always
#    build:
#      context: ./nginx
#    networks:
#      - web-static
#    depends_on:
#      - php-fpm
#    ports:
#      - "8004:80"
#    volumes:
#      - /home/projects:/app
#      - /home/pi/downloads:/downloads

  caddy:
    restart: always
    build:
      context: ./caddy
    networks:
      - web-static
    depends_on:
      - php-fpm
    ports:
      - "8004:80"
    volumes:
      - /home/projects:/app
      - /home/pi/downloads:/downloads


networks:
  web-static:
